.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
}

.overlay * {
    pointer-events: all;
}

#area {
    /*margin-top:60px;*/
}

.fixed-top {
    /*background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));*/
    /*padding: 20px 40px;*/
}

.fixed-bottom {
    /*background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));*/
    /*padding: 20px 40px;*/
}

#pagination {
    text-align: center;
    margin-left: 80px;
    /*padding: 0 50px;*/
}
.arrow {
    position: fixed;
    top: 0;
    height: 100%;
    color: #E2E2E2;
    font-family: arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.arrow i {
    font-size: 64px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.arrow:hover {
    color: #777;
}
.arrow:active {
    color: #000;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}
